.c-nav{
	&__list{
		margin: 0 -25px;
		display: flex;
		align-items: center;
	}

	&__item{
		margin: 0 25px;

		.c-header &{
			@media (max-width: $bp-lg) {
				margin: 25px 0;
			}
		}
	}

	&__link{
		color: $navLinkClr;
		font-weight: 600;
		transition: $transition-base;
		
		.c-header &{
			@media (max-width: $bp-lg) {
				font-size: 2.8rem;
			}

			@media (max-width: $bp-sm) {
				font-size: 1.8rem;
			}
		}

		&:hover{
			color: $navLinkClrHover;
		}
	}
}