.c-section{
	margin-bottom: 60px;

	@media (max-width: $bp-lg) {
		margin-bottom: 30px;
	}
	
	&__title{
		font-size: 48px;
		font-weight: bold;
		margin-bottom: 42px;

		@media (max-width: $bp-lg) {
			font-size: 2.4rem;
			margin-bottom: 21px;
		}
	}
}