.c-tabs{
	&__nav{

		.nav-link{
			font-size: 2.4rem;
			text-transform: uppercase;
			padding: 0;
			color: $tabsLinkClr;
			margin-bottom: -2px;
			border: none;
			height: 50px;

			&:not(:last-child){
				margin-right: 50px;
			}

			&:focus{
				outline: none;
			}

			&.active{
				font-weight: bold;
				background: transparent;
				border-bottom: 5px solid $tabsLinkActiveBorder;
			}
		}

		.nav-item{
			&:not(:last-child){
				.nav-link{
					margin-right: 50px;
				}
			}
			
		}
	}
}