.c-banner{
	&__title{
		margin: 0;
		font-size: 3.6rem;
		margin-bottom: 10px;

		@media (max-width: $bp-md) {
			font-size: 2.6rem;
		}
	}

	&__txt{
		margin: 0;
		font-size: 2.4rem;

		@media (max-width: $bp-md) {
			font-size: 1.6rem;
		}
	}
}